{% extends "base.html" %}

{% block content %}
<h1>Company Packages</h1>
<table>
    <thead>
        <tr>
            <th>Company</th>
            {% for package in packages %}
                <th>{{ package.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for company in comp_names %} <!--Makes new row for every company in Company db-->
            <tr>
                <td>{{ company }}</td>
                {% for package in packages %} <!--Looks through all packages in package db-->
                    {% for comp_package in comp_packages %} <!--Looks through all company packages-->
                        {% if comp_package.company.name == company and comp_package.package_id == package.id %}
                            
                            <td>{{ comp_package.price }}</td> 
                        {% endif %}
                    {% endfor %}

                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
