{% extends "base.html" %}

{% block content %}
<h1>{{ company.name }} </h1>
<button type="button" class="btn btn-secondary">
    <a href="{{url_for('edit_company', company_name=company.name)}}", style="color: white;">Edit</a>
</button>
<button type="button" class="btn btn-success">
    <a href="{{url_for('company_assignees', company_name=company.name)}}", style="color: white;">View Assignees</a>
</button>
<h2>Contact Info:</h2>
<p>{{ company.contact }} </p>
<p>{{ company.address1 }} <br>
    {% if company.address2 %}
        {{ company.address2 }}<br>
    {% endif %}
    {{ company.postcode }} {{ company.city }}
</p>

{% if company.notes %}
    <h2>Notes:</h2>
    <p>{{ company.notes }} </p>
{% endif %}
<br>
<h2>Price List:</h2>
<table class="table table-striped">
    <thead>
        <th>Package</th>
        <th>Price</th>
    </thead>
    <tbody>
        {% for company_package in company.company_packages %}
        <tr>
            <td> {{ company_package.package.name }} </td>
            <td> {{ company_package.price }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}