{% extends "base.html" %}

{% block content %}
<h1>{{ assignee.name }}  </h1>
<h2>Assignee Info:</h2>
<p>
    <b>Name:</b> {{ assignee.name }}<br>
    <b>Company:</b> {{ assignee.company.name }}<br>
    <b>Nationality:</b> {{ assignee.nationality }}<br>
    <b>Origin Country:</b> {{ assignee.origin_country }}<br>
    <b>Destination City:</b> {{ assignee.destination_city }}<br>
    <hr>
    <b>Booking Date:</b> {{ assignee.booking_date }} <b>Arrival Date:</b> {{ assignee.arrival_date }} <b>Work start Data:</b> {{ assignee.work_start_date }}<br>
    <b>Spouse:</b> {{ assignee.spouse }} <b>Child(ren):</b> {{ assignee.child }} <b>Pets:</b> {{ assignee.pets }} <b>Temp Flat:</b> {{ assignee.temp_flat }}<br>
    <b>HR Contact:</b> {{ assignee.hr_contact }} <b>Job title:</b> {{ assignee.job_title }}<br>
</p>
<h2>Packages:</h2>
    <p>
        {% for package in assignee.packages %}
            {{package.name}}
        {% endfor %}
    </p>
<button type="button" class="btn btn-success">
    <a href="{{url_for('edit_assignee', assignee_id=assignee.id)}}" style="color: white;">Edit</a>
</button>
{% endblock %}